<footer>
	<div class='container text-center'>
		<small>© Shopper</small>
	</div>
	<!-- Modernizr -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>

	<!-- jQuery, jQueryUI -->
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	
	<!-- Semantic UI -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js' integrity='sha256-FMQoXFhCWeNb139Wa9Z2I0UjqDeKKDYY+6PLkWv4qco=' crossorigin='anonymous'></script>
	
	<!-- Popper.js, Bootstrap JS -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js'></script>
	
	<!-- JsBarcode -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.8.0/JsBarcode.all.min.js" integrity="sha256-Sn7Nc8AnxmGowdskGhw0MWxW5pndPzQ4B6LQukBttRM=" crossorigin="anonymous"></script>
	
	<!-- Custom JS -->	
	<script type='text/javascript' src='/scripts/script.js'></script>
	<script type='text/javascript' src='/scripts/barcode.js'></script>
</footer>
</body>
</html>